---
import { Image } from "astro:assets";
import desktopLogo from "../assets/logo.png";
import logo from "../assets/boomger.png";
---

<header
  class="flex justify-between items-center mt-9 mb-9 lg:mb-16 w-[-webkit-fill-available] mx-6 sm:mx-12 lg:mx-24 max-w-7xl"
>
  <a href="/">
    <span class="flex items-center xl:hidden gap-1.5">
      <Image src={logo} alt="home page" class="h-6 w-auto" />
      <p class="font-semibold text-xl text-zinc-700">Boomger</p>
    </span>
    <Image src={desktopLogo} alt="Go to boomger home page" class="h-9 w-auto lg:h-16 hidden xl:block" />
  </a>
  <button id="menu-icon">
    <svg width="34px" height="34px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="lg:hidden">
<path d="M4 18L20 18" stroke="#000000" stroke-width="2" stroke-linecap="round"/>
<path d="M4 12L20 12" stroke="#000000" stroke-width="2" stroke-linecap="round"/>
<path d="M4 6L20 6" stroke="#000000" stroke-width="2" stroke-linecap="round"/>
</svg>
  </button>
  <nav
    id="nav"
    class="flex items-center justify-center py-6 px-14 lg:gap-4 lg:h-auto w-full left-0 fixed h-screen gap-20 transition-transform top-0 lg:w-auto lg:static lg:translate-y-0 lg:py-0 -translate-y-full flex-col lg:flex-row z-50 duration-500 bg-white lg:px-0 lg:mx-auto"
  >
    <button id="close" class="text-4xl right-12 top-12 fixed lg:hidden">
      <svg fill="#000000" width="34px" height="34px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg">
<title>cancel1</title>
<path d="M16 29c-7.18 0-13-5.82-13-13s5.82-13 13-13 13 5.82 13 13-5.82 13-13 13zM16 6c-5.522 0-10 4.478-10 10s4.478 10 10 10c5.523 0 10-4.478 10-10s-4.477-10-10-10zM20.537 19.535l-1.014 1.014c-0.186 0.186-0.488 0.186-0.675 0l-2.87-2.87-2.87 2.87c-0.187 0.186-0.488 0.186-0.675 0l-1.014-1.014c-0.186-0.186-0.186-0.488 0-0.675l2.871-2.869-2.871-2.87c-0.186-0.187-0.186-0.489 0-0.676l1.014-1.013c0.187-0.187 0.488-0.187 0.675 0l2.87 2.87 2.87-2.87c0.187-0.187 0.489-0.187 0.675 0l1.014 1.013c0.186 0.187 0.186 0.489 0 0.676l-2.871 2.87 2.871 2.869c0.186 0.187 0.186 0.49 0 0.675z"></path>
</svg>
    </button>
    <a href="/about-us" class="px-3 hover:underline">About Us</a>
    <a href="/#howItWorks" class="px-3 hover:underline">How it works</a>
    <a href="/guideline" class="px-3 hover:underline">Communities</a>
    <a href="/privacy-policy" class="px-3 hover:underline">Safety</a>
    <a href="/eula" class="px-3 hover:underline">EULA</a>
  </nav>
  <a
    href="#"
    class="bg-black text-white px-5 py-2 rounded-full hidden lg:block text-sm"
  >
    Get App
  </a>
  <script is:inline>
    const menuIcon = document.getElementById("menu-icon");
    const closeIcon = document.getElementById("close");
    const navBar = document.getElementById("nav");
    const navItem = document.querySelectorAll(".px-3");

    function menuToggle() {
      menuIcon.setAttribute("aria-expanded", true);
      navBar.classList.remove("-translate-y-full");
    }

    function closeMenu() {
      menuIcon.setAttribute("aria-expanded", false);
      navBar.classList.add("-translate-y-full");
    }

    menuIcon.addEventListener("click", menuToggle);
    closeIcon.addEventListener("click", closeMenu);
    navItem.forEach((element) => {
      element.addEventListener("click", closeMenu);
    });
  </script>
</header>
